<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Images/favicon.ico">
    <link rel="stylesheet" href="~/Content/IndexStyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="logo">
            <h4>@Html.ActionLink("EventHub", "Index", "Home")</h4>
            <form>
                <input id="searchBox" name="searchBox" placeholder="Search events">
            </form>
        </div>
        <ul class="nav-links">
            <li>@Html.ActionLink("About Us", "About", "Home")</li>
            @if (Session["Username"] == null)
            {
                <li id="create-Button">@Html.ActionLink("Create an account", "Register", "Home")</li>
                <li>@Html.ActionLink("Login", "Login", "Home")</li>
            }
            else
            {
                <li id="create-Button">@Html.ActionLink("Create an event", "Create", "Home")</li>
                <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
            }
        </ul>
    </nav>
    @RenderBody()
    <footer class="footerTag">
        <div>
            <p>&copy;Copyright 2020 by EventHub. All Rights Reserved.</p>
            <div class="logo-footer">
                <h4>The Nav</h4>
            </div>
        </div>
    </footer>

</body>

</html>
