<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div class="pageBody">
    <div class="jumbotron-container">
        <div class="jumbotron">
            <img src="~/Images/jumbo.jpg" alt="Page Jumbotron" width="100%" height="600">
            @using (Html.BeginForm("BrowseEvents", "Home", FormMethod.Get))
            {
                <input type="submit" id="jumbotronButton" value="Browse events"/>
            }
        </div>
    </div>
    <div class="eventCatergory">
        <div class="eventCaterogy-header">
            <p>Event collection </p>
        </div>
        <div class="catergories">
            <ul class="catergory-links">
                <li>
                    @Ajax.ActionLink("All", "All", "", new AjaxOptions()
                                               {
                                                   HttpMethod = "GET",
                                                   UpdateTargetId = "divEvents",
                                                   InsertionMode = InsertionMode.Replace
                                               }, new { @id = "all-link" })
                </li>
                <li>
                    @Ajax.ActionLink("Festivals", "Festivals", new AjaxOptions()
                                               {
                                                   HttpMethod = "GET",
                                                   UpdateTargetId = "divEvents",
                                                   InsertionMode = InsertionMode.Replace
                                               })
                </li>
                <li>
                    @Ajax.ActionLink("Food & Drink", "FoodAndDrink", new AjaxOptions()
                                               {
                                                   HttpMethod = "GET",
                                                   UpdateTargetId = "divEvents",
                                                   InsertionMode = InsertionMode.Replace
                                               })
                </li>
                <li>
                    @Ajax.ActionLink("Art", "Art", new AjaxOptions()
                                               {
                                                   HttpMethod = "GET",
                                                   UpdateTargetId = "divEvents",
                                                   InsertionMode = InsertionMode.Replace
                                               })
                </li>
                <li>
                    @Ajax.ActionLink("Movies", "Movies", new AjaxOptions()
                                               {
                                                   HttpMethod = "GET",
                                                   UpdateTargetId = "divEvents",
                                                   InsertionMode = InsertionMode.Replace
                                               })
                </li>
                <li>
                    @Ajax.ActionLink("Gaming", "Gaming", new AjaxOptions()
                                               {
                                                   HttpMethod = "GET",
                                                   UpdateTargetId = "divEvents",
                                                   InsertionMode = InsertionMode.Replace
                                               })
                </li>
                <li>
                    @Ajax.ActionLink("Sports", "Sports", new AjaxOptions()
                                               {
                                                   HttpMethod = "GET",
                                                   UpdateTargetId = "divEvents",
                                                   InsertionMode = InsertionMode.Replace
                                               })
                </li>
                <li>
                    @Ajax.ActionLink("Public", "Public", new AjaxOptions()
                                               {
                                                   HttpMethod = "GET",
                                                   UpdateTargetId = "divEvents",
                                                   InsertionMode = InsertionMode.Replace
                                               })
                </li>
            </ul>
    </div>
    <div class="individualCatergory" id="divEvents">

    </div>
</div>
</div>