@model UserBusinessLayer.ViewModels.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Images/favicon.ico">
    <link rel="stylesheet" href="~/Content/LoginStyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <div class="login-container">
        @if (ViewBag.Flash == "Joined")
        {
            <div class="flash-banner">
                <p id="fb-1">Thank you for joining with us</p>
                <p id="fb-2"> Please login to continue </p>
            </div>
        }
        <div class="login-header">
            <p>EventHub</p>
        </div>
        <div class="login-modal">
            <div class="login-modal-container">
                <p class="login-modal-header">Log In to Your Account</p>
                <div class="form-group">
                    <form action="/Home/Login" method="post">
                        <div class="inputUsername">
                            @Html.EditorFor(model => model.UsernameEmail, new { HtmlAttributes = new { @placeholder = "Username or Email" } })
                        </div>
                        <div>@Html.ValidationMessageFor(model => model.UsernameEmail, " ", new { @class = "text-danger" })</div>
                        <div class="inputPassword">
                            @Html.EditorFor(model => model.Passwd, new { HtmlAttributes = new { @placeholder = "Password" } })
                        <div>@Html.ValidationMessageFor(model => model.Passwd, " ", new { @class = "text-danger" })</div>
                        </div>
                        <div class="inputChecks">
                            <div class="checkBox">
                                @Html.CheckBoxFor(model => model.RememberMe)
                                <label for="remember">Remember me</label>
                            </div>
                            <div class="anchor">
                                <a href="#">Forgot password?</a>
                            </div>
                        </div>
                        <div class="submit-container">
                            <button type="submit" class="submitButton">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="login-modal-footer">
                    <p>Need an account? @Html.ActionLink("Sign Up", "Register", "Home")</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

